# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.

public class $table.name {
    #foreach( $field in $table.columns)
    private $field.javaType $field.name;

    public $field.javaType get$field.name() {return $field.name;} 
    public void set$field.name($field.javaType $field.name) {this.$field.name = $field.name;}
    #end
}
